{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "overrides": [
        {
            "files": [".babelrc", ".eslintrc", ".prettierrc", ".stylelintrc"],
            "options": { "parser": "json" }
        },
        {
            "files": ["package.json"],
            "options": { "tabWidth": 2 }
        },
        {
            "files": ["**/*.vue"],
            "options": { "parser": "vue" }
        },
        {
            "files": ["LICENSE"],
            "options": { "parser": "markdown" }
        },
        {
            "files": ["**/*.scss"],
            "options": { "trailingComma": "none" }
        },
        {
            "files": [".browserslistrc", ".editorconfig"],
            "options": { "parser": "yaml", "proseWrap": "preserve" }
        }
    ]
}
