{% extends "_layout.njk" %}

{% block content %}
  {% include "inc/layout/_headline.njk" %}
  {% include "inc/layout/_subhead.njk" %}
  {% include "inc/layout/_one-col.njk" %}
  {% include "inc/layout/_copy-left-image.njk" %}
  {% include "inc/layout/_copy-right-image.njk" %}
  {% include "inc/layout/_one-col-image.njk" %}
  {% include "inc/layout/_divider.njk" %}
  {% include "inc/layout/_two-col-image.njk" %}
  {% include "inc/layout/_divider.njk" %}
  {% include "inc/layout/_three-col-image.njk" %}
{% endblock %}
