                      <layout label="One Column">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td>
                              <!--[if gte mso 15]>
                                <table align="left" width="270" cellpadding="0" cellspacing="0" border="0" style="mso-table-rspace:5.75pt; margin-right:3.5pt;"><tr><td width="270">
                              <![endif]-->
                                <table width="270" cellpadding="0" cellspacing="0" border="0" align="left" class="align-left">
                                  <tr>
                                    <td><img editable src="img/image.jpg" label='Full Image' width="250" class="content-image" /></td>
                                    <td class="mobile-hide" width="20"></td>
                                  </tr>
                                  <tr>
                                    <td height="20" colspan="2" class="mobile-divider"></td>
                                  </tr>
                                </table>
                              <!--[if gte mso 15]>
                                </td></tr></table>
                              <![endif]-->
                              <multiline label="Copy">
                              <p>Donec et <a href="#">lectus et sem</a> rutrum sodales. Morbi cursus. Aliquam a odio. Sed tortor velit, convallis eget, porta interdum, convallis sed, tortor. Phasellus ac libero a lorem auctor mattis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi cursus. Aliquam a odio. Sed tortor velit, convallis eget, porta interdum, convallis sed, tortor. Phasellus ac libero a lorem auctor mattis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi cursus. Aliquam a odio. Sed tortor velit, convallis eget, porta interdum, convallis sed, tortor. Phasellus ac libero a lorem auctor mattis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                              </multiline>
                            </td>
                          </tr>
                        </table>
                      </layout>