                      <layout label="One Column Image">
                        <table width="<%= contentWidth %>" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td width="<%= contentWidth %>" valign="top" align="left" class="one-col column">
                              <img editable src="img/image.jpg" label='Full Image' width="<%= contentWidth %>" class="content-image" />
                            </td>
                          </tr>
                        </table>
                      </layout>