                      <layout label="One Column">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td>
                              <multiline label="Copy">
                              <p>Donec et <a href="#">lectus et sem</a> rutrum sodales. Morbi cursus. Aliquam a odio. Sed tortor velit, convallis eget, porta interdum, convallis sed, tortor. Phasellus ac libero a lorem auctor mattis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                              </multiline>
                            </td>
                          </tr>
                        </table>
                      </layout>