                      <layout label="Three Column Image">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td width="177" valign="top" align="left" class="three-col column">
                              <img editable src="img/image.jpg" label='Left Image' width="177" class="content-image" />
                            </td>
                            <td width="177" valign="top" align="center" class="three-col column">
                              <img editable src="img/image.jpg" label='Center Image' width="177" class="content-image" />
                            </td>
                            <td width="177" valign="top" align="right" class="three-col column">
                              <img editable src="img/image.jpg" label='Right Image' width="177" class="content-image" />
                            </td>
                          </tr>
                        </table>
                      </layout>