                      <layout label="Two Column Image">
                        <table width="<%= contentWidth %>" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td width="<%= contentWidth / 2 - 25 %>" valign="top" align="left" class="two-col column">
                              <img editable src="img/image.jpg" label='Left Image' width="<%= contentWidth / 2 - 25 %>" class="content-image" />
                            </td>
                            <td width="<%= contentWidth / 2 - 25 %>" valign="top" align="right" class="two-col column">
                              <img editable src="img/image.jpg" label='Right Image' width="<%= contentWidth / 2 - 25 %>" class="content-image" />
                            </td>
                          </tr>
                        </table>
                      </layout>