                      <layout label="Two Column Image">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" class="content table">
                          <tr>
                            <td width="255" valign="top" align="left" class="two-col column">
                              <img editable src="img/image.jpg" label='Left Image' width="255" class="content-image" />
                            </td>
                            <td width="255" valign="top" align="right" class="two-col column">
                              <img editable src="img/image.jpg" label='Right Image' width="255" class="content-image" />
                            </td>
                          </tr>
                        </table>
                      </layout>