
        <!--Footer-->
        <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#38464e" class="footer table" align="center">
          <tr>
            <td width="600" height="25" colspan="4"></td>
          </tr>
          <tr>
            <td width="20" class="mobile-padding"></td>
            <td width="280" class="column" valign="top" align="left">
              <span class="copyright">&copy; <currentyear> Company Name. All rights reserved.</span><br /><br />
              <span class="address">
                5017 Washington Pl<br/>
                St. Louis, MO 63108
              </span>
            </td>
            <td width="280" class="column" valign="top" align="right">
              <span class="subscriber">
                <a href="https://example.com/privacy-policy/">privacy policy</a> | <unsubscribe>unsubscribe</unsubscribe><br /><br />
                This email was sent to <a href="mailto:[email]">[email]</a>
              </span>
            </td>
            <td width="20" class="mobile-padding"></td>
          </tr>
          <tr>
            <td width="600" height="25" colspan="4"></td>
          </tr>
        </table>
