
        <!--Footer-->
        <table width="<%= parseInt(contentWidth) + (gutterWidth * 2) %>" cellpadding="0" cellspacing="0" border="0" bgcolor="#38464e" class="footer table" align="center">
          <tr>
            <td width="<%= parseInt(contentWidth) + (gutterWidth * 2) %>" height="25" colspan="4"></td>
          </tr>
          <tr>
            <td width="<%= gutterWidth %>" class="mobile-padding"></td>
            <td width="<%= contentWidth / 2 %>" class="column" valign="top" align="left">
              <span class="copyright">&copy; <currentyear> <%= companyName %>. All rights reserved.</span><br /><br />
              <span class="address">
                5017 Washington Pl<br/>
                St. Louis, MO 63108
              </span>
            </td>
            <td width="<%= contentWidth / 2 %>" class="column" valign="top" align="right">
              <span class="subscriber">
                <a href="<%= companyUrl %>/privacy-policy/">privacy policy</a> | <unsubscribe>unsubscribe</unsubscribe><br /><br />
                This email was sent to <a href="mailto:[email]">[email]</a>
              </span>
            </td>
            <td width="<%= gutterWidth %>" class="mobile-padding"></td>
          </tr>
          <tr>
            <td width="<%= parseInt(contentWidth) + (gutterWidth * 2) %>" height="25" colspan="4"></td>
          </tr>
        </table>
