
        <!--Header-->
        <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#000000" class="table" align="center">
          <tr>
            <td width="600" class="logo"><a href="https://example.com"><img width="600" class="img-logo" src="img/image.jpg" alt="Company Name" /></a></td>
          </tr>
        </table>
