
        <!--Web version-->
        <table width="560" cellpadding="0" cellspacing="0" border="0" bgcolor="#fff" class="table preheader" align="center">
          <tr><td height="30"></td></tr>
          <tr>
            <td width="280" align="left" valign="top">
              <singleline label="Pre-header text">Summarize this email (Max 40 chars)</singleline>
            </td>
            <td width="280" align="right" valign="top"><webversion>View in a browser</webversion></td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>
