// Gravity Forms Layout Options
//------------------------------------------------------------------------------
$gravity-small-screen:       960px !default;
$gravity-margin:             1.375rem !default;
$gravity-margin-medium:      1rem !default;
$gravity-margin-small:       .875rem !default;
$gravity-form-input-padding: 1.25rem !default;
