// Base Font Sizes
//------------------------------------------------------------------------------
$gravity-medium-font-size:  14px !default;
$gravity-small-font-size:   9px !default;
$gravity-title-font-size:   18px !default;
